<%= form_for @workout do |f| %>
	<div>
		<%= f.label :body_part %><br />
		<%= f.text_field :body_part, :required => true  %>
	</div>
	<br>
	<div>
		<%= f.label :exercise %><br />
		<%= f.text_field :exercise, :required => true  %>
	</div>
	<br>
	<div>
			<%= f.label :workout_date%> <br />
			<%= f.text_field :workout_date, :class=>"datepicker", :required => true %>
	</div>
	<br>

	<fieldset>
  <legend> Choose Exercises</legend>
  <%= f.collection_check_boxes :exercise_ids, Exercise.all, :id, :name %>
</fieldset>
	<div><%= f.submit :class=>"btn btn-success" %></div>
<% end %>