<div id ="upcoming">
	<table>
		<tr>
			<th>Today's Workout</th>
		</tr>
		<tr>
			<td>
				<!-- Workouts sorted by date in workouts controller -->
				<% time = Time.now.strftime("%Y-%m-%d") %>
				<% @workouts.each do |workout| %>
				<!-- Check first to make sure that loop doesnt pick up previous days -->
					<% if workout.workout_date >= time %>
						<% if workout.workout_date == time%>
							<%= workout.workout_date %>
							<p>__________________</p>
							<p>BODY PART(S):</p>
							<%= workout.body_part %>
							<p>__________________</p>
							<p>EXERCISE(S):</p>
							<% workout.exercises.each do |exercise|%>
							<p><%= exercise.name%></p>
							<% end %>
							<h6><%= link_to "(view workout page)", workout %></h6>
							<% break %>
						<% else %>
							<p><%= "No Workout Scheduled For Today." %></p>
							<p><%= "Rest Up And Get Ready For The Next One!" %></p>	
							<% break %>
						<% end %>
					<% end %>
				<% end %>
			</td>
		</tr>
		
	</table>	
</div>


<!--Calendar ID calls the jquery calendar to render-->
<div id="calendar">
  <br>
  <%= link_to "Add New Workout", new_workout_path, :class=>"btn btn-primary btn-xs" %>
  &nbsp;
  <%= link_to "Add Journal Entry", new_entry_path, :class=> "btn btn-default btn-xs", :id=>"journal" %>
  <p class="notice"><%= flash[:notice] %></p>
</div> 

<script> $(document).ready(function() {
    $('#calendar').fullCalendar({
      aspectRatio: 1.8,
      //index.jason.jbuilder file will parse json data
      eventSources: [
        {
            url: 'workouts.json', 
            color: '#000056', 
        },
        {
            url: 'entries.json', 
            color: '#4b4b4b', 
        }]
    })
});
</script>