<div id ="upcoming">
	<table>
		<tr>
			<th>Today's Workout</th>
		</tr>
		<tr>
			<td>
				<!-- Workouts sorted by date in workouts controller -->
				<% time = Time.now.strftime("%Y-%m-%d") %>
				<% @workouts.each do |workout| %>
				<!-- Check first to make sure that loop doesnt pick up previous days -->
					<% if workout.workout_date >= time %>
						<% if workout.workout_date == time%>
							<p>BODY PART:</p>
							<%= workout.body_part %>
							<p>__________________</p>
							<p>EXERCISES:</p>
							<%= workout.exercise %>
							<h6><%= link_to "(view workout page)", workout %></h6>
							<% break %>
						<% else %>
							<p><%= "No Workout Scheduled For Today." %></p>
							<p><%= "Rest Up And Get Ready For The Next One!" %></p>	
							<% break %>
						<% end %>
					<% end %>
				<% end %>
			</td>
		</tr>
	</table>
	<br>
	<br>
	<table>
		<tr>
			<th>Recent Journal Entries</th>
		</tr>
		<tr>
			<td>
				<br>
				<br>
				<br>
				<br>
				<br>
			</td>
		</tr>
	</table>
</div>

<!--Calendar ID calls the jquery calendar to render-->
<div id="calendar">
  <br>
  <%= link_to "Create A New Workout", new_workout_path, :class=>"btn btn-primary btn-xs" %>
  <p class="notice"><%= flash[:notice] %></p>
</div> 

<script> $(document).ready(function() {
    $('#calendar').fullCalendar({
      aspectRatio: 1.8,
      //index.jason.jbuilder file will parse json data
      eventSources: [
        {
            url: 'workouts.json', 
            color: '#000056', 
        },
        {
            url: 'entries.json', 
            color: '#575757', 
        }]
    })
});
</script>