<%= render partial: 'nav' %>

<div class="workout">
	<h1><%= @workout.body_part + " Workout" %></h1>
	<h3><%= "- " + @workout.exercise %></h3>

	<p><%= link_to "Edit Workout", edit_workout_path %>&nbsp;&nbsp;&nbsp;<%= link_to "Go Back", workouts_path %> 
	</p>
</div>
