<%= render partial: 'nav' %>

<div class="workout">
	<h3><%= @workout.body_part + " Workout (#{@workout.workout_date})" %></h3>
	<h3><u><%= "Exercises" %></u></h3>
	<h4><%= "- " + @workout.exercise %></h4>
	<br>
	<span class="btn btn-success"><%= link_to "Edit Workout", edit_workout_path%></span>
	<span class="btn btn-default"><%= link_to "Go Back", workouts_path%></span>
</div>
