<%= form_for @entry do |f| %>
	<div>
		<%= f.label :title %><br />
		<%= f.text_field :title, :required => true  %>
	</div>
	<br>
	<div>
		<%= f.label :"Date" %><br />
		<%= f.text_field :entry_date, :class=>"datepicker", :required => true  %>
	</div>
	<br>
	<div>
			<%= f.label "Entry"%> <br />
			<%= f.text_area :content, :required => true, :cols => "100", :rows => "5", :class=>"textbox" %>
	</div>
	<br>
	<div>
		<table>
			<th><%= f.label :exercise %></th>
			<th><%= f.label :sets %></th>
			<th><%= f.label :reps %></th>
			<th><%= f.label :lbs %></th>
			<tr>
				<td><%= f.text_field :exercise  %></td>
				<td><%= f.text_field :sets  %></td>
				<td><%= f.text_field :reps %></td>
				<td><%= f.text_field :lbs %></td>
			</tr>

			<th><%= f.label "Exercise" %></th>
			<th><%= f.label "Sets" %></th>
			<th><%= f.label "Reps" %></th>
			<th><%= f.label "LBS" %></th>
			<tr>
				<td><%= f.text_field :exercise_two  %></td>
				<td><%= f.text_field :sets_two  %></td>
				<td><%= f.text_field :reps_two %></td>
				<td><%= f.text_field :lbs_two %></td>
			</tr>

			<th><%= f.label "Exercise" %></th>
			<th><%= f.label "Sets"   %></th>
			<th><%= f.label "Reps" %></th>
			<th><%= f.label "LBS" %></th>
			<tr>
				<td><%= f.text_field :exercise_three  %></td>
				<td><%= f.text_field :sets_three   %></td>
				<td><%= f.text_field :reps_three  %></td>
				<td><%= f.text_field :lbs_three %></td>
			</tr>
		</table>
	</div>
	<br>
	<div><%= f.submit :class=>"btn btn-success" %></div>
<% end %>