<div class="entry">
	<h3><%= @entry.title %></h3>
	<h4><%= "(#{@entry.entry_date})" %></h4>
	<hr>
	<h4>Journal Entry </h4>	
	<h4><%= @entry.content %></h4>
	<hr>
	<h4>Workout Log</h4>
	<br>
	<table id="log">
		<th>Exercise</th>
		<th># Of Sets</th>
		<th># Of Repetitions</th>
		<th>Lbs.</th>
		<tr>
			<td><%= @entry.exercise %></td>
			<td><%= @entry.sets %></td>
			<td><%= @entry.reps %></td>
			<td><%= @entry.lbs %></td>
		</tr>
		<tr>
			<td><%= @entry.exercise_two %></td>
			<td><%= @entry.sets_two %></td>
			<td><%= @entry.reps_two %></td>
			<td><%= @entry.lbs_two %></td>
		</tr>
		<tr>
			<td><%= @entry.exercise_three %></td>
			<td><%= @entry.sets_three %></td>
			<td><%= @entry.reps_three %></td>
			<td><%= @entry.lbs_two %></td>
		</tr>
	</table>
	<br>
	<br>
	<span class="btn btn-success"><%= link_to "Edit Entry", edit_entry_path%></span>
	<span class="btn btn-default"><%= link_to "Go Back", entries_path%></span>
</div>
