<!-- Note that it must include workout/... -->
<%= render partial: 'workouts/nav' %>

<div class="workout">
<p class="notice"><%= flash[:notice] %><%= flash[:error] %></p>
	<h1>New User</h1>
	<%=form_for @user do |f|%><br>
		<p><%=f.text_field :username, :placeholder => "Create username"%></p><br>
		<p><%=f.password_field :password, :placeholder => "Create password" %></p><br>
		<p><%= f.submit "Create Account", :class=>"btn btn-default btn-lg" %></p>
	<% end %>
	<br>
	<p><%= link_to "Back To Main Page", root_path %></p>
</div>