<div id="top">
	<div id="login">
		<h1>GymTime</h1>
		<h4>Create Your Very Own Personal Workout Calendar</h4><br>
	  <%= link_to "Log In", new_authenticate_path, :class=>"btn btn-default btn-lg btn-block" %>
	  <%= link_to "Sign Up. It's Free!", new_user_path, :class=>"btn btn-default btn-lg btn-block" %>
	</div>
</div>
<div id="bottom">
	<div id="wrapper">
		<div class="info">
			<h3>Schedule Workouts</h3> 
			<p><%= image_tag("cal.jpg") %></p>
		</div>
		<div class="info">
			<h3>Add/Edit Exercises</h3>
			<p><%= image_tag("exercise.jpg") %></p>
		</div>
		<div class="info">
			<h3>Create A Journal</h3>
			<p><%= image_tag("journal.jpg") %></p>
		</div>
	</div>
</div>
