<!-- Note that it must include workout/... -->
<%= render partial: 'workouts/nav' %>

<div class="workout">
	<p class="notice"><%= flash[:notice] %></p>
	<h1>Log In</h1>
	<%= form_for @user, {url:"/authenticates", method:"post"} do |user|%><br>
		<p><%= user.text_field :username, :placeholder => " Enter username", :required => true %></p><br>
		<p><%= user.password_field :password, :placeholder => " Enter password", :required => true %></p><br>
		<p><%= user.submit "Log In", :class=>"btn btn-default btn-lg" %></p>
	<%end%>
	<p><%= link_to "Back To Main Page", root_path %></p>
</div>