<div class="exerciseform">
	<%= form_for @exercise do |f| %>
		<div><%= f.label "Exercise Name" %></div>
		<div><%= f.text_field :name, :required => true %></div>
		<br>
		<div><%= f.label "Body Part" %></div>
		<div id="select"><%= f.select :part, options_for_select(["Abs", "Lower Back", "Upper Back", "Biceps", "Calves", "Chest", "Forearms", "Legs", "Triceps", "Shoulders"]), :required => true%></div>
		<br>
		<div><%= f.label "External Exercise Link" %></div>
		<div><%= f.text_field :link, :size=>"70" %></div>
		<br>
		<div><%= f.label "YouTube Video ID" %></div>
		<div><%= f.text_field :video, :size=>"15" %></div>
		<br><br>
		<div><%= f.submit :class=>"btn btn-success" %></div>
	<% end %>
</div>