<!DOCTYPE html>
<html>
<head>
  <title>GymTime</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand" ><%= link_to 'GymTime', root_path %></p>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Workout Journal", entries_path %></li>
        <li><%= link_to "Calendar", workouts_path %></li>
               
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><%=current_user ? "Logged in: #{current_user.username}" : "(not logged in)" %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Logout', authenticates_path, {method: :delete} %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
